[submodule "sites/all/modules/og"]
	path = sites/all/modules/og
	url = http://git.drupal.org/project/og.git
	branch = 7.x-2.x
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = http://git.drupal.org/project/entity.git
	branch = 7.x-1.x
[submodule "sites/all/modules/entityreference"]
	path = sites/all/modules/entityreference
	url = http://git.drupal.org/project/entityreference.git
	branch = 7.x-1.x
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
[submodule "sites/all/modules/views_bulk_operations"]
	path = sites/all/modules/views_bulk_operations
	url = http://git.drupal.org/project/views_bulk_operations.git
	branch = 7.x-3.x
[submodule "sites/all/themes/bootstrap"]
	path = sites/all/themes/bootstrap
	url = http://git.drupal.org/project/bootstrap.git
	branch = 7.x-3.x
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = http://git.drupal.org/project/token.git
	branch = 7.x-1.x
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = http://git.drupal.org/project/module_filter.git
	branch = 7.x-2.x
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = http://git.drupal.org/project/panels.git
	branch = 7.x-3.x
[submodule "sites/all/modules/i18n"]
	path = sites/all/modules/i18n
	url = http://git.drupal.org/project/i18n.git
[submodule "sites/all/modules/facetapi"]
	path = sites/all/modules/facetapi
	url = http://git.drupal.org/project/facetapi.git
	branch = 7.x-1.x
[submodule "sites/all/modules/search_api_solr"]
	path = sites/all/modules/search_api_solr
	url = http://git.drupal.org/project/search_api_solr.git
	branch = 7.x-1.x
[submodule "sites/all/modules/search_api"]
	path = sites/all/modules/search_api
	url = http://git.drupal.org/project/search_api.git
	branch = 7.x-1.x
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
	branch = 7.x-1.x
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = http://git.drupal.org/project/features.git
	branch = 7.x-2.x
